
img {
  width: 100%;
  height: 70%;
}
.container {
  text-align: center;
  justify-content:space-around;
}
.card-content{
  text-align: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d8fc0b;
  color: white;
  text-align: center;

  
}
  .button {
    background-color: #fff;
    border: none;
    color: blue;
    text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.switch-mode{
  float: right;
 }
.badge{
  display: block;
  float: left;
  margin-top: 2%;
  background-color: red;
  color: white;
  text-transform: uppercase;
  margin-right: 10dp;
}
.product-tumb{
  float: inherit;
  display: block;
  margin-left: 1000dp;
}
.product-card{
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 10%;
  overflow-wrap: break-word;
  margin: 0 auto;
  width: 70%;
  height: 100%;
  
}
.containers img{
  display: block;
  margin-left:15%;
  margin-right: auto;
  width: 50%;
  width: 30%;
  height: 60%;
  margin-left: 30dp;
 
}
.pbackground{
  background-color: lightgray;
  
} 
.product-details{
  margin-left:2%;
  background-color: white;
  
}
.product-details h4{
  color: black;
  text-transform: uppercase;
}
.product-price{
  color: orange;
  font-weight: 400;
  font-size: larger;
}
.modal-show {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vmax;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
